/* gap between "awesome" text and img holder */

* {
    outline: red 1px solid;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    padding: 10 0 0 100;
    text-decoration: none;
}

.header-logo {
    font-size: 24px;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color: inherit;
}

ul {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    list-style-type: none;
    padding: 0 100 0 0;
}

li {
    padding: 0 0 0 20
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100 100 100 100;
    font-size: 18px;
    gap: 20px;
}

.hero-content {
    display: flex;
    justify-content: center;
    max-height: 200px;
    min-height: 200px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.awe {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.awe button {
    align-self: flex-start;
}

.awe p {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 5 20;
    font-weight: 900;
    border-radius: 8px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    flex-shrink: 0;
    width: 50%;

}

.hero,footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.rando {
    display: flex;
    justify-content: center;
    padding: 0 100 0 100;
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
}

.squares {
    display: flex;
    border: #3882F6 5px solid;
    width: 100px;
    height: 100px;
}

.squares p {
    display: flex;
    flex-direction: column;
}

.quote {
    display: flex;
    justify-content: center;
    padding: 0 100 0 100;
    background-color: #E5E7EB;
}

.action {
    display: flex;
    justify-content: center;
    margin: 0 100 0 100;
    background-color: #3882F6;
    color:#F9FAF8
}

footer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;bottom:0;left:0;
}